body {
  font-family: Georgia;
}

.example-browser {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #dfdfdf;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 0.5rem;
}


.example-output {
    border: 1px solid #e6e6e6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 3pxrgba(0,0,0,0.05);
    font-size: 0.8em;
    padding: 0.5em;
    height: 12.5rem;
}

.fixed_header{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 100px;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
  background: black;
  color:#fff;
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

.control-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control-buttons .play{
    background: #23d160;
    color: #fff;
    font-size: 1.2rem;
}

.control-buttons .pause{
  background: #e6e20d;
  color: #fff;
  font-size: 1.2rem;
}

.control-buttons .stop{
  background: #ff0f0f;
  color: #fff;
  font-size: 1.2rem;
}



.play, .pause, .stop {
    border-radius: 3px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
    font-weight: 700;
    padding: 0.5rem;
    text-align: center;    
}

select {

  /* styling */
  background-color: white;
  border: solid rgb(99, 97, 96);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5rem;
  padding: 0.5em 1.5em 0.5em 0.5em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}